In [3]:
import pandas as pd
df=pd.read_csv("C:\\Users\\taarunsinggh\\Documents\\Python\\7-3_weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [8]:
df=pd.read_excel("C:\\Users\\taarunsinggh\\Documents\\Python\\7-3_weather_data.xlsx","Sheet1")
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

In [10]:
weather_data= {
    'day':["1/1/2019", "2/1/2019","3/1/2019","4/1/2019"],
    'temperature': [30,32,36,31],
    'windspeed':[6,8,3,5],
    'event':["Rain","Sunny","Snow","Cloudy"]
    
}

df=pd.DataFrame(weather_data)
df

        day  temperature  windspeed   event
0  1/1/2019           30          6    Rain
1  2/1/2019           32          8   Sunny
2  3/1/2019           36          3    Snow
3  4/1/2019           31          5  Cloudy

In [13]:
weather_data= [
    ("1//1/2019",30,6,"Rain"),
    ("2//1/2019",32,8,"Sunny"),
    ("3//1/2019",36,3,"Snow"),
    ("4//1/2019",31,5,"Cloudy")
    
]

df=pd.DataFrame(weather_data,columns=["day","temperature","windspeed","event"])
df

         day  temperature  windspeed   event
0  1//1/2019           30          6    Rain
1  2//1/2019           32          8   Sunny
2  3//1/2019           36          3    Snow
3  4//1/2019           31          5  Cloudy

In [14]:
weather_data= [
    
    {'day':'1/1/2019','temperature':30,'windspeed':6,'event':'Rain'},
    {'day':'2/1/2019','temperature':32,'windspeed':8,'event':'Sunny'},
    {'day':'3/1/2019','temperature':36,'windspeed':5,'event':'Snow'}
]
df=pd.DataFrame(weather_data)
df

        day  event  temperature  windspeed
0  1/1/2019   Rain           30          6
1  2/1/2019  Sunny           32          8
2  3/1/2019   Snow           36          5